doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		link(href="", rel="stylesheet")
	body

		div.titlebar
			.part
				.text(style="color:red;background:green") Dashboard
				.icons.icon_1.i.material-icons settings_input_svideo
			.part
				.text Settings
				.icons.icon_1.i.material-icons settings
			.part
				.text Calender
				.icons.icon_1.i.material-icons event_note
			.part
				.text Message
				.icons.icon_1.i.material-icons message
			.part
				.fabric Fabric
				.icons.icon_1.i.material-icons keyboard_arrow_down
				.icons.icon_2.i.material-icons cloud_circle

		div.content
			.field1
				.box1.style_box
					.menu
							.icon.i.material-icons notifications_none
							.icon.i.material-icons people
							.icon.i.material-icons camera_alt
							.icon.i.material-icons favorite
							.icon.i.material-icons location_on
					.cont
						.photozone
							.photofield
								.photo.photo1
							.photofield
								.photo.photo2
							.photofield
								.photo.photo3
						.select
							.icon.i.material-icons keyboard_arrow_left
							.txt Album one
							.icon.i.material-icons keyboard_arrow_right


				.box2.style_box
					.part1
						.top SUN
						.bottom 14/12
					.part2 5ยบ
					.line
						.empty
						.border
						.empty
					.part3.i.material-icons wb_sunny
			.field2.style_box
			.field3
				.box1.style_box
				.box2.style_box
				.box3.style_box
					.sBox






