doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(href="", rel="stylesheet")
	body
		div.large_font.dark 안녕하세요
		div.large_font.dark text here

		.horizon_group
			.field
				.icon_block.i.material-icons grade
				.icon_block.i.material-icons list
				.icon_block.i.material-icons lock
				.icon_block.i.material-icons info


			.field_2
			.field_2#main
		div#headline HELLO WEB WORLD



