doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/talk.css')
        link(href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        script(src='/jquery/dist/jquery.min.js')
    body
        div.outer
            .outer-cell
                .content
                    .titlebar
                        .text #{messages[0].name}
                     .body
                        -for (var i = 0; i < messages.length; i++)
                            if ( messages[i].type === 'receive')
                                .message.receive
                                    .photozone
                                        .photo
                                    .textzone #{messages[i].text}
                                    .empty

                            else if ( messages[i].type === 'send')
                                .message.send
                                    .textzone #{messages[i].text}

                    .inputbar
                        input.text(placeholder="Message Bot Name...")#messageInput
                        .button SEND

                    .iconzone
                        .icon.i.material-icons sort_by_alpha
                        .icon.i.material-icons camera_alt
                        .icon.i.material-icons insert_photo
                        .icon.i.material-icons insert_emoticon
                        .icon.i.material-icons gif
                        .icon.i.material-icons mic_none
                        .icon.i.material-icons location_on
                        .icon.selected.i.material-icons#sendMessage thumb_up


        script(src='/javascripts/talk.js')

